@model HastaneProgrami.Models.Entity_Framework.personel

@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <h3>Poliklinik Bilgileri</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.poliklinikID)

        <div class="form-group">
            @Html.LabelFor(model => model.adi, "PERSONEL ADI")
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                @Html.TextBoxFor(model => model.adi, new { @class = "form-control", @maxLength = "45", @readonly = "readonly" })
            </div>
            @Html.ValidationMessageFor(model => model.adi, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.soyadi, "PERSONEL SOYADI")
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                @Html.TextBoxFor(model => model.soyadi, new { @class = "form-control", @maxLength = "45", @readonly = "readonly" })
            </div>
            @Html.ValidationMessageFor(model => model.soyadi, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.poliklinikID, "POLİKLİNİK")
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-university" aria-hidden="true"></i></div>
                @Html.DropDownList("poliklinikID", (IEnumerable<SelectListItem>)ViewBag.poliklinik, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.poliklinikID, "", new { @class = "text-danger" })
        </div>

        <h4>@ViewBag.Hata</h4>

        <div class="form-group">
            <a href="/Poliklinik/Index" class="btn btn-facebook">Geriye Dön</a>
            <button type="submit" class="btn btn-success">Güncelle</button>
        </div>
    </div>
}
