@model HastaneProgrami.Models.Entity_Framework.hasta

@{
    ViewBag.Title = "Parola İşlemleri";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("ParolaIslemleri", "Vatandas", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <h3>Parola İşlemleri</h3>
        <hr />

        @Html.LabelFor(model => model.email, "Email")
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
            @Html.TextBoxFor(model => model.email, new { @class = "form-control", @maxLength = "45" })
            <div class="input-group-addon"><x class="">@@gmail.com</x></div>
        </div>
        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.sifre, "Eski Şifre")
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-key"></i></div>
            @Html.TextBoxFor(model => model.sifre, new { @class = "form-control", @maxLength = "20", @type = "password" })
        </div>
        @Html.ValidationMessageFor(model => model.sifre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.rsifre, "Yeni Parolanız")
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-key"></i></div>
            @Html.TextBoxFor(model => model.rsifre, new { @class = "form-control", @maxLength = "20", @type = "password" })
        </div>
        @Html.ValidationMessageFor(model => model.rsifre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @ViewBag.Basarisiz
        @ViewBag.Basarili
    </div>

    <hr />

    <div class="form-group">
        <button class="btn btn-success">
            <i class="fa fa-check"></i>
            Bilgileri Güncelle
        </button>
    </div>
}

