@model HastaneProgrami.Models.Entity_Framework.ameliyatOdasi

@{
    ViewBag.Title = "AMELİYAT ODASI GÜNCELLE";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ameliyatOdasiID)

        <div class="form-group">
            @Html.LabelFor(model => model.ad, "AMELİYAT ODASI ADI")
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-university"></i></div>
                @Html.TextBoxFor(model => model.ad, new { @class = "form-control", @maxLength = "45" })
            </div>
            @Html.ValidationMessageFor(model => model.ad, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <a href="@Url.Action("Index","AmeliyatOda")" class="btn btn-facebook">GERİYE DÖN</a>
            <button type="submit" class="btn btn-success">GÜNCELLE</button>
        </div>
    </div>
}

